{% extends 'base.html' %}
{% block title %}About Study Buddies{% endblock %}

{% block content %}
<div class="container">
	<div class="justify-content-center">
		<h1 class="mt-2"> About Us </h1>
		{% if user.is_authenticated %}
		<p>Study Buddies was made to facilitate finding people to study with. All too often, it is so difficult to find
			people
			in your classes who are also looking for someone to study with. This app took some of it's inspirtation from
			Tinder,
			and is a great tool for you to make new friends and get those grades up!</p>
		<h2 class="mt-2" align="center"> Meet the Team! </h2>

		<h5 class="mt-2"> Caleb </h5>
		<img src="../static/matching/caleb.jpg" height=250 width=250 style="object-fit: cover">
		<p> Caleb is a third year majoring in the dismal science (econ) and the science
			that makes you dismal (Computer Science). His favorite cookie is oatmeal raisin and if you disagree
			you're "definitely wrong". </p>
		<p> Special Talent: He's a God of Design </p>

		<h5 class="mt-2"> David </h5>
		<img src="../static/matching/david.jpg" height=250 width=250 style="object-fit: cover">
		<p> David is a third year majoring in Computer Science. He enjoys
			roast beef sandwiches and wants to live in New York City one day.</p>
		<p> Special Talent: Django Genius </p>

		<h5 class="mt-2"> Grady </h5>
		<img src="../static/matching/grady.jpg" height=250 width=250 style="object-fit: cover">
		<p>Grady is a second year majoring in Computer Science. In his free time he enjoys SIKE he's
			majoring in engineering he has no free time. One day he hopes to be the President of the United
			States (that's why he flexed on us so hard in that suit pic)</p>
		<p>Special Talent: Literally everything, the kid has an IQ of 250</p>


		<h5 class="mt-2"> Jimmy </h5>
		<img src="../static/matching/jimHead.jpg" height=250 width=250 style="object-fit: cover">
		<p> Despite his favorite breakfast food being a plain bowl of oatmeal (no kidding), Jimmy
			is actually a pretty interesting kid. For example, look at his pet below: her name is Lyla.
			Lyla is a blue tounged skink.</p>
		<img src="../static/matching/lyla.png" height=250 width=250 style="object-fit: cover">
		<p> Special Talent: Always Promoting Good Coding Practices</p>

		<h5 class="mt-2"> Mark </h5>
		<img src="https://github.com/2MarkMaguire/pic/blob/master/IMG_3341.PNG?raw=true" width=200>
		<p> Mark is a third year majoring in Computer Science and minoring in Business.
			He hates Django, and is the only member of the team who has ever bailed hay before.
			In his free time he enjoys watching Tom Brady embarass DBs.</p>
		<p> Special Talent: Making "About Us" pages</p>

		<h5 class="mt-2"> Yifan </h5>
		<img src="../static/matching/yiffan.jpg" height=250 width=250 style="object-fit: cover">
		<p> Yifan loves guo bao rou (legend has it he used to be fat because he ate it so often).
			He loves playing league of legends and watching Naruto. </p>
		<p>Special Talent: Making Sure only UVa emails can make StudyBuddies accounts </p>


		{% else %}
		<p>Please login with google</p>
		<a href="{% url 'login' %}">Login with Google</a>
		{% endif %}
	</div>
</div>
{% endblock %}