<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load ttag %}
{% uname request as username %}
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'matching/styles.css'%}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
        integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #d78d00;">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-family:Roboto Condensed; font-size:35px">
            <img src="{% static 'logo.png' %}" class="mx-auto" width="50" height="50">
            Study Buddies</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navBar">
                    <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home" style="color: white; font-family:Roboto Condensed;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' username %}" style="color: white; font-family:Roboto Condensed;">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matches" style="color: white; font-family:Roboto Condensed;">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us" style="color: white; font-family:Roboto Condensed;">About Us</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="/search" method="GET">
                    <div class="input-group">
                      <div class="md-form mt-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search_box" style="font-family:Roboto Condensed;">
                        </div>
                    </div>
                  </form>
                <span>
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout'%}" style="color: white;font-family:Roboto Condensed;">Logout</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}" style="font-family:Roboto Condensed;">Login</a>
                        </li>
                    </ul>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>


    <!--************************* UNIQUE PAGE CODE *************************-->
    {% block content %}
    <!-- default content text (typically empty) --> {% endblock %}

    <div class="footer-bar text-center">
        Django Unchained 2019 | Lab Section 101
    </div>
</body>

</html>
