{% extends 'base.html' %}
{% load ttag %}
{% block title %}Matches{% endblock %}
{% load static %}


<!--
    The code for the row cards is adapted from
    https://www.codeply.com/go/l1KAQtjjbA
-->

{% block content %}
{% for match in matches_list %}
<div style=“width: 20rem; display:inline-block; margin-right: 1rem; margin-top: 3rem;“>
       <a style=“text-decoration: none; color:inherit;” href=“{% url ‘profile’ match.to_user.username %}“>
           <div class=“card” style=“width: 100%; padding-bottom: 1rem;“>
               <img src=“{{match.to_user.profile.profilePicture.url}}” class=“card-img-top” alt=“...“>
               <div class=“card-body” style=“overflow: hidden; white-space: normal; height: 15vh;“>
                   <h5 class=“card-title” style=“text-overflow: clip”>{{ match.to_user.first_name }}
                       {{ match.to_user.last_name }}</h5>
                   <p class=“card-text text-muted” style=“font-size: 10pt; text-overflow: clip”>
                       {{ match.to_user.email }}</p>
                   <p class=“card-text text-muted” style=“font-size: 10pt; text-overflow: clip”>
                       {{ match.to_user.profile.bio }}</p>
                   <p class=“card-text text-muted” style=“font-size: 10pt; text-overflow: clip”>
                       {{ result.user.profile.courses.all|join:“, ” }}</p>
                   <div style=“text-align: center;“>
                       <form method=“post”>
                           {% csrf_token %}
                           <input type=“hidden” value=“{{ match.to_user.username }}” name=“r_id”>
                           <input class=“btn-danger btn mt-0 mb-3” type=“submit” value=“Delete Match”
                               name=“delete”>
                       </form>
                   </div>
               </div>
           </div>
       </a>
</div>
{% empty %}
<h5 style="text-align: center; margin-top: 4rem">No matches yet! Study buddies will appear here when a mutual match
    is created!</h5>
{% endfor %}
{% endblock %}

<!--
{% comment %}
<ul>
    {% for match in matches_list %}
    <li>{{ match.to_user.username }}</li>
    <li>{{ match.to_user.email }}</li>
    {% endfor %}
</ul>
{% endcomment %}
-->
