{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container">

	<div class="justify-content-center">
		<h1 class="mt-2">User Profile </h1>
		<dl class="row">
			{% if user.profile.profilePicture %}
			<dt class="col-sm-3"><img src="{{user.profile.profilePicture.url}}" width="300px"></dt>
			<dd class="col-sm-9"></dd>
			{% endif %}

			<dt class="col-sm-3"></dt>
			<dd class="col-sm-9"></dd>

			<dt class="col-sm-3">First Name</dt>
			<dd class="col-sm-9">{{user.first_name}}</dd>

			<dt class="col-sm-3">Last Name</dt>
			<dd class="col-sm-9">{{user.last_name}}</dd>

			<dt class="col-sm-3">Username</dt>
			<dd class="col-sm-9">{{user.username}}</dd>

			<dt class="col-sm-3">Email</dt>
			<dd class="col-sm-9">{{user.email}}</dd>

			<dt class="col-sm-3">Major</dt>
			<dd class="col-sm-9">{{user.profile.major}}</dd>

			<dt class="col-sm-3">Courses</dt>
			<dd class="col-sm-9">
				<ul>
					{% for c in courses %}
					<li>{{ c }}</li>
					{% endfor %}
				</ul>
			</dd>

			<dt class="col-sm-3">Graduation Year</dt>
			<dd class="col-sm-9">{{user.profile.grad_year}}</dd>
		</dl>
	</div>

	<a href="{% url 'update_profile'%}">
		<button type="button" class='btn btn-primary'>Edit Profile</button>
	</a>
</div>
{% endblock %}