{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}

<!-- This page should be a list the search results of a query -->
{% block content %}
<ul>
    {% for result in results_list %}
    <li>
    <a class="nav-link" href="{% url 'profile' result.user.username %}" style="color: black">
    {{ result.user.first_name }} {{ result.user.last_name }}
    {% if result.user.profile.profilePicture %}
    <img src="{{result.user.profile.profilePicture.url}}" width="90px">
    {% endif %}
    </a>
    </li>
    {% empty %}
    <li>No search results</li>
    {% endfor %}
</ul>
{% endblock %}