{% extends 'base.html' %}
{% block title %}Tutor_list{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
        /* Style the input field */
        .tboverflow{
            height: 100px; 
            width: 100%;
            word-wrap:break-word;
            overflow: auto;
        }
        </style>
<form method="get">
    <div class="container">
        <div class="card" style="margin-top: 2em">
                <a role="button" style="text-decoration: none; color: inherit" class="card-header" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <h4 style="font-family:Roboto Condensed;">Filters <i class="fas fa-caret-down"></i>
                    </h4>
            </a>
                <div class="collapse" id="collapseExample">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-around">
                        <div class="form-group">
                                    Minimum GPA
                                    {% render_field filter.form.gpa_gt class="form-control" %}
                        </div>
                        <div class="form-group">
                                Grad Year
                                {% render_field filter.form.grad_year class="form-control" %}
                    </div>
                    </div>   
                    <button type="submit" class="btn btn-secondary" style="float:right;margin-bottom: 1em;">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>

<ul>
    {% for tutor in filter.qs %}
    <div class="container" style="position:relative; right:18px;" >
        <div class="card" style="margin-top: 1em">
            <div class="row no-gutters">
                    <div class="col-auto">
                            <a style="text-decoration: none; color:inherit;" href="{% url 'Tprofile' tutor.user.username %}">
                        {% if tutor.user.profile.profilePicture %}
                        <img src="{{tutor.user.profile.profilePicture.url}}" class="img-fluid"
                            style="object-fit: cover; height: 200px; width:200px;" alt="">
                        {% else %}
                        <img src="{% static 'matching/usrimg.jpg' %}" class="img-fluid"
                            style="object-fit: cover; height: 200px; width:200px;" alt="">
                        {% endif %}
                            </a>
                    </div>
                    <div class="col-auto">
                        <div class="card-block px-2">
                            <div>
                                    <a style="text-decoration: none; color:inherit;" href="{% url 'Tprofile' tutor.user.username %}">
                                <h4 class="card-title">{{ tutor.user.first_name }}
                                    {{ tutor.user.last_name }}
                                </h4>
                                </a>
                                <p class="card-text">
                                    Email: <a target="_top" href="mailto:{{tutor.user.email}}">{{ tutor.user.email }}</a>
                                </p>
                                <p class="card-text">
                                    GPA: {{ tutor.user.profile.tutor_gpa }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    {% empty %}
    <div class="container" style="position:relative; right:18px;">
            <div class="card" style="margin-top: 2em">
                    <h2 style="font-family:Roboto Condensed;text-align:center;">No Results</h2>
            </div>
        </div>
    {% endfor %}
</ul>
</div>
{% endblock %}
