{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}


{% block title %}Update Profile{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ course_form.media }}

<style type="text/css">
        .emp-profile{
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #eee;
        }
    </style>
<div class="container emp-profile">
	<div class="justify-content-center">
		<h1 class="mt-2"> Update Profile </h1>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
            <div class="row">

              <div class="col-6">
                {{ user_form.first_name|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ user_form.last_name|as_crispy_field }}
              </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {{ profile_form.gender|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ profile_form.major|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ profile_form.grad_year|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6" style="height: 260px; overflow: auto; margin-top: 1em; margin-bottom: 1em;">
                    {{ course_form.as_p }}
                </div>
                <div class="col-6">
                    {{ profile_form.bio|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                {{ profile_form.profilePicture|as_crispy_field }}
            </div>
            </div>
            <p></p>
            <h1 class="mt-2"> Be A Tutor? </h1>
            <div class="row">
                <div class="col-sm-2" style="text-align: left;">
                    {{profile_form.tutor|as_crispy_field}}
                </div>
                <div class="col-sm-8">
                    <a>By filling in the square on the left, you agree that your profile will be visible in tutor tab of study buddies</a>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-10">
                        </div>
                    <div class="col-sm-2" >
                        <input class="btn-primary btn btn mt-0 mb-0" type="submit" value="Submit">
                    </div>
                </div>

            <!--
            <div class="row">
                <div class="col-12">
                {{ profile_form.tutor_gpa|as_crispy_field }}
              </div>
            </div>
            <div class="row">
                <div class="col-12">
                {{ profile_form.tutor_bio|as_crispy_field }}
              </div>
            </div>
             -->
        </form>
    </div>
</div>

{% endblock %}